name: Lint test
on: push
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v5
      
      - name: Install NodeJs
        uses: actions/setup-node@v6
        with:
          node-version: 18

      - name: Install Dependencies
        run: npm ci
      

      - name: Run Lint
        run: npm run lint